@model Dimensional.TinyReturns.Core.PublicWebReport.PublicWebReportFacade.PortfolioModel[]

@{
    ViewBag.Title = "title";
}

<div>
@*    <div class="row">*@
@*        <div class="col-md-3">*@
@*            <div class="form-group">*@
@*                <select class="form-control input-sm" ng-model="selectedMonth" ng-change="monthChanged()">*@
@*                    <option value="2013-10">10/2013</option>*@
@*                    <option value="2013-9">9/2013</option>*@
@*                    <option value="2013-8">8/2013</option>*@
@*                    <option value="2013-7">7/2013</option>*@
@*                    <option value="2013-6">6/2013</option>*@
@*                    <option value="2013-5">5/2013</option>*@
@*                    <option value="2013-4">4/2013</option>*@
@*                    <option value="2013-3">3/2013</option>*@
@*                    <option value="2013-2">2/2013</option>*@
@*                    <option value="2013-1">1/2013</option>*@
@*                </select>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>1 Month</th>
                <th>3 Month</th>
                <th>Year to Date</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var portfolio in Model)
            {
                <tr style="background: lavenderblush">
                    <td>@portfolio.Number</td>
                    <td>@portfolio.Name</td>
                    <td>@portfolio.OneMonth</td>
                    <td>@portfolio.ThreeMonth</td>
                    <td>@portfolio.YearToDate</td>
                </tr>

                foreach (var benchmark in portfolio.Benchmarks)
                {
                    <tr>
                        <td></td>
                        <td style="padding-left: 20px;">@benchmark.Name</td>
                        <td>@benchmark.OneMonth</td>
                        <td>@benchmark.ThreeMonth</td>
                        <td>@benchmark.YearToDate</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
